@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.stories-item:nth-child(n + 5) {
  @apply hidden;
}

.stories-item:nth-child(-n + 4) {
  @apply md:flex;
}

.stories-item:nth-child(-n + 5) {
  @apply lg:flex;
}

.stories-item:nth-child(-n + 8) {
  @apply 2xl:flex;
}
